.layout {
    padding-left: 12vw;
    padding-right: 12vw;
}

.layout-fluid {
    padding-left: 14px;
    padding-right: 14px;
}

/*DIMINUI O ESPAÇO DAS BORDAS PARA NÃO ACHATAR A CAIXA*/
@media screen and (max-width: 768px){
    .layout {
        padding-left: 24px;
        padding-right: 24px; ;
    }
}